[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
alembic = "*"
boto3 = "*"
environs="*"
requests = "*"
psycopg2-binary = "*"
python-dateutil = "*"
PyYAML = "*"
sqlalchemy = "*"
prometheus-client = "*"

[requires]
python_version = "3.10.6"

